<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Agenda cita</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <main>
        <h1>Agenda tu cita</h1>
       <form action="/formularioMascota" method="post" id="formulario"> 
            <tr>
                <td>
                    <label for="Nombre">Nombre del dueno</label>
                    <input type="text" name="Nombre" placeholder="Omar Martinez" id="Nombre">
                </td>
            </tr>

           

            <tr>
                <td>
                    <label for="Correo">Email</label>
                    <input type="email" name="Email" placeholder="alguiem@gmail.com" id="correo">
                </td>
            </tr>

          


            <tr>
                <td>
                    <label for="Comentario"></label>
                    <textarea name="Comentario" id="Comentario" cols="30" rows="10" placeholder="Escribe un comentario"></textarea>
                </td>
            </tr>



            <tr>
                <td>
                    <input type="submit">
                </td>
            </tr>

            

            <tr>
                <td>
                    <input type="reset">
                </td>
            </tr>
       </form>
       
    
    
   </main>
</body>            
</html>
